/* body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

#p2-container {
  flex: 3 1 auto;
}


.gui {
  display: flex;
  flex-direction: row;
  height: 250px;
  flex: 1 1 auto;
}

.gui-element {
  flex: 1 1 auto;
}
*/

#p2-container {
  flex: 3 1 auto;
}

.graph-container {
  float: left;
  width: 400px;
}

.gui-parent:
  flex: 2 1 auto;

#container {
  width: 100%;
  height: 794px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
